<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="{{ url_for('static', filename='contact.css') }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet"/>
    <title>Contact Us</title>
</head>
<body>


    
  
  
    <div class="info horizontal">
        <img style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;" src="{{ url_for('static', filename='prakshi.jpg') }}" alt="Paridhi" width="50px">
        <div class="text-content">
          <span><b>Prakshi Agarwal</b></span><br>
          <span> Backend Developer
            <br>
            241210091@nitdelhi.ac.in
          </span>
        </div>
        <a href="https://www.linkedin.com/in/prakshi-agarwal-852a9330a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
          <img width="40px" src="{{ url_for('static', filename='link.png') }}" alt="LinkedIn">
        </a>
      </div>
      
      <div class="separation">.</div>
    
      <div class="info horizontal">
        <img style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;" src="{{ url_for('static', filename='paridhi2.jpg') }}" alt="Paridhi" width="50px">
        <div class="text-content">
          <span><b>Paridhi Gupta</b></span><br>
          <span> Hardware Developer
            
            <br>
            241210085@nitdelhi.ac.in
          </span>
        </div>
        <a href="https://www.linkedin.com/in/paridhi-gupta-021099360?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
          <img width="40px" src="{{ url_for('static', filename='link.png') }}" alt="LinkedIn">
        </a>
      </div>
      <div class="separation">.</div>
      
      <div class="info horizontal">
        <img style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;" src="{{ url_for('static', filename='rachit.png') }}" alt="rachit" width="50px">
        <div class="text-content">
          <span><b>Rachit Singh Rana</b></span><br>
          <span> Frontend Developer
            <br>
            241210097@nitdelhi.ac.in
          </span>
        </div>
        <a href="https://www.linkedin.com/in/rachit-singh-rana-7a2097339?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
          <img width="40px" src="{{ url_for('static', filename='link.png') }}" alt="LinkedIn">
        </a>
      </div>
   
    
</body>
</html>