<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet"/>
</head>
<body>
    <h2>Meal Count</h2>
    <ul>
        {% for meal in meals %}
        <li>{{ meal.meal_type }}: {{ meal.meal_count }}</li>
        {% endfor %}
    </ul>
</body>
</html>